*{
    padding: 0px;
    margin: 0px auto;
    box-sizing: border-box;

}

body{
    width: auto;
    height: 4000px;
    font-family: "Work Sans", sans-serif;   
}


nav{
    background-color: white;
    padding: 18px;
}
nav img {
    flex:left;
    width: 100px;
    padding-left: 40px;
    
}
nav button {
    flex:right;
}
figure{
    text-align: center;
    margin: auto;
    background-image: url(/my\ try/img/landing.jpg);
    background-size: cover;
    height: 1080px;
    position: relative;
    
}
.welcome{
    padding-top:30% ;

}
.welcome h2{ 
    padding-top:5% ;
    color:#10CAB7;
    font-family: "Work Sans", sans-serif;
    font-size: 50px;
    
}
.welcome p{
    font-size: 20px;
}
.service{
    background-color:#F6F6F6;
    width: 100%;
    display: flex;
}
.service .offer{
    width: calc(80%/3);
    margin:calc(20%\3) ;
    line-height: 27px;
}
.service h4{
    text-align: center;
}