* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  max-width: 1263px;
  margin: auto;
  overflow-x: hidden;
}
header a {
  text-decoration: none;
  display: inline-block;
}

header img {
  max-width: 100%;
}
nav {
  margin: 0px auto;
  background-color: #eee;
  font-family: cairo;
  height: fit-content;
}
header p {
  text-align: center;
  margin-bottom: 10px;
}
span {
  font-family: cairo;
  font-size: 50px;
  color: black;
  border-bottom: 3px solid black;
  margin-bottom: 10px;
}
ul {
  list-style-type: none;
  /* display: inline-flex; */
  display: inherit;
  text-align: center;
}
li:hover {
  list-style-type: none;
  /* display: inline-flex; */
  display: inherit;
  text-align: center;
  color: white;
  background-color: rgb(74, 76, 79);
}
ul li {
  padding: 10px 10px 0px 10px ;
  font-family: cairo, "sans-serfie";
  background-color: #eee;
}
.mens {
  direction: rtl;
}

.mens p {
  padding: 4px;
  text-align: center;
}
#mens-section {
  text-align: center;
  font-family: cairo;
  font-size: 50px;
  margin: 20px;
}
.first-man-img,
.second-man-img {
  width: 50%;
  float: left;
}

.thierd-man-img {
  max-width: 100%;
}
.clean-space {
  height: 20px;
  visibility: hidden;
  width: 100%;
}
hr {
  height: 20px;
  visibility: hidden;
}
/* starting womans section*/

.womans {
  text-align: center;
}
.womans {
  direction: rtl;
}
.womans p {
  padding: 4px;
}
#womans-section {
  text-align: center;
  font-family: cairo;
  font-size: 50px;
  margin: 20px;
}

/* starting childrens section*/

.childrens {
  text-align: center;
}
.childrens {
  direction: rtl;
}
.childrens p {
  padding: 4px;
}
#childrens-section {
  text-align: center;
  font-family: cairo;
  font-size: 50px;
  margin: 20px;
}

/*phone styling*/
@media (max-width: 480px) {
  .first-man-img,
  .second-man-img {
    width: 100%;
    float: left;
  }

  .thierd-man-img {
    max-width: 100%;
  }
}
              /* start form  */



footer {
  font-family: "Raleway", sans-serif;
  background-image: url("images/infinite-loop-03.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  margin: 199px auto;
  font-family: "Raleway", sans-serif;
  color: white;
  display: block;
  position: relative;
  text-align: center;

}

h2 {
  font-size: 50px;
  font-weight: 200;
  text-transform: capitalize;
  color: white;
  display: block;
  text-align: center;
}
p {
  margin: 40px 0px 40px 0px;
}
aside {
  width: 50%;
  float: right;
}
aside button {
  width: 100%;
  padding: 30px;
  background-color: transparent;
  border: none;
  margin: 5px;
  color: white;
  font-size: large;
  text-align: left;
}
aside button:hover {
  color: #336699;
  transition: 0.3s;
}
form {
  width: 50%;
}
input {
  width: 90%;
  height: 40px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: large;
  margin: 10px;
}
::placeholder {
  color: white;
  font: inherit;
  margin-left: 5px;
}
textarea {
  width: 90%;
  padding: 8px 20px;
  border-radius: 6px;
  border: 1px solid white;
  background: transparent;
  color: white;
  height: 200px;
  font-family: "Raleway", sans-serif;
  overflow: auto;
}
textarea::-webkit-input-placeholder {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: large;
  font-weight: 500;
}
i {
  margin-right: 20px;
  transform: scale(2);
}
.submit {
  padding: 10px 70px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #336699;
  color: white;
  font-size: large;
  border: none;
  
}
.submit:hover {
  background-color: hsl(210, 50%, 50%);
  transition: 0.5s;
}

